.label{
    -fx-text-fill: #FF0000;
}
.text-label{
    -fx-font-weight: bold;
}
.button{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #FFF;
    -fx-text-fill: #F00;
}
.button:hover{
    -fx-background-color: #FFF;
}
.button:disabled{
    -fx-background-color: #00F;
    -fx-text-fill: #FFF;
}
.choice-box{
    -fx-text-fill: #00F;
}